<div class="admin-container">
  <h2>{{ 'GESTION_PRODUCTOS' | translate }}</h2>

  <table class="tabla-productos">
    <thead>
      <tr>
        <th>{{ 'NOMBRE' | translate }}</th>
        <th>{{ 'PRECIO' | translate }}</th>
        <th>{{ 'ACCIONES' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of datos">
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio_base | currency: '₡':'symbol' }}</td>
        <td>
          <button class="btn-icon" (click)="editar(p.id)">
            <mat-icon class="editar-icono">edit</mat-icon>
          </button>
          <button class="btn-icon" (click)="mostrarDetalle(p)">
            <mat-icon class="info-icono">info</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="acciones-admin">
    <button class="btn-agregar" (click)="crearProducto()">
      {{ 'AGREGAR_PRODUCTO' | translate }}
    </button>
  </div>

  <!-- Modal de detalle -->
  <div class="modal-backdrop" *ngIf="productoActivo">
    <div class="modal-detalle">
      <h3>{{ productoActivo.nombre }}</h3>
      <p>{{ productoActivo.descripcion }}</p>
      <p><strong>{{ 'ETIQUETAS' | translate }}:</strong></p>
      <div class="etiquetas-modal">
        <span *ngFor="let e of productoActivo.etiquetas" class="etiqueta-badge">
          {{ e.etiqueta.nombre }}
        </span>
      </div>
      <p>
        <strong>{{ 'PRECIO_BASE' | translate }}:</strong> {{ productoActivo.precio_base |
        currency:'₡' }}
      </p>
      <p>
        <strong>{{ 'CATEGORIA' | translate }}:</strong> {{ productoActivo.categoria.nombre || 'Sin
        categoría' }}
      </p>

      <p><strong>{{ 'VALORACION_PROMEDIO' | translate }}:</strong></p>
      <div class="estrellas-modal">
        <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]">
          <span
            class="estrella-modal"
            [ngClass]="{ activa: estrella <= promedioValoracion }"
            >★</span
          >
        </ng-container>
        <span class="valor-numerico"
          >({{ promedioValoracion.toFixed(1) }})</span
        >
      </div>
      <p><strong>{{ 'IMAGENES' | translate }}:</strong></p>
      <div class="galeria-modal">
        <img
          *ngFor="let img of productoActivo.imagenes"
          [src]="'http://localhost:3000/imagenes/' + img.url"
          alt="Imagen del producto"
        />
      </div>

      <button class="btn-cerrar" (click)="cerrarDetalle()">{{ 'CERRAR' | translate }}</button>
    </div>
  </div>
</div>
