<form [formGroup]="formResena" (ngSubmit)="submitResena()" novalidate>
  <h2>{{ 'RESENAS_TEXT.CREAR_RESEÑA' | translate }}</h2>
  <p class="fecha-actual">{{ 'RESENAS_TEXT.FECHA' | translate }}: {{ fechaActual | date: 'dd/MM/yyyy' }}</p>
  <p class="nombre-usuario">{{ 'RESENAS_TEXT.USUARIO' | translate }}: <strong>{{ nombreUsuario }}</strong></p>
  <!-- Comentario -->
  <div class="form-group">
    <label for="comentario">{{ 'RESENAS_TEXT.COMENTARIO' | translate }}:</label>
    <textarea
      id="comentario"
      formControlName="comentario"
      rows="4"
      placeholder="¿{{ 'RESENAS_TEXT.QUE_TE_PARECIO_EL_PRODUCTO' | translate }}?"
    ></textarea>
    <small
      *ngIf="formResena.get('comentario')?.touched && formResena.get('comentario')?.invalid"
      class="error"
    >
      {{ 'RESENAS_TEXT.CAMPO_OBLIGATORIO' | translate }} y {{ 'RESENAS_TEXT.COMENTARIO_DEBE_TENER_AL_MENOS_5_CARACTERES' | translate }}.
    </small>
  </div>

  <!-- Valoración -->
  <div class="form-group estrellas">
    <label>{{ 'RESENAS_TEXT.VALORACION' | translate }}:</label>
    <div class="estrellas-container">
      <span
        *ngFor="let estrella of estrellas; let i = index"
        (click)="seleccionarEstrella(i + 1)"
        [class.activa]="formResena.get('valoracion')?.value >= (i + 1)"
      >
        ★
      </span>
    </div>
    <small
      *ngIf="formResena.get('valoracion')?.touched && formResena.get('valoracion')?.invalid"
      class="error"
    >
      {{ 'RESENAS_TEXT.SELECCIONA_UNA_VALORACION_ENTRE_1_Y_5_ESTRELLAS' | translate }}
    </small>
  </div>

  <button type="submit" [disabled]="formResena.invalid">
    {{ 'RESENAS_TEXT.CREAR_RESEÑA' | translate }}
  </button>
</form>
