<div class="form-container">
  <h2>{{ esEdicion ? 'Editar Producto' : 'Crear Producto' }}</h2>

  <form [formGroup]="productoForm" (ngSubmit)="submitProducto()">
    <!-- Nombre -->
    <label>Nombre del producto</label>
    <input type="text" formControlName="nombre" />

    <!-- Descripción -->
    <label>Descripción detallada</label>
    <textarea formControlName="descripcion"></textarea>

    <!-- Precio -->
    <label>Precio</label>
    <input type="number" formControlName="precio_base" />

    <!-- Imágenes del producto -->
    <label>Imágenes del producto</label>

    <!-- Imágenes existentes (solo en edición) -->
    <div class="galeria-actual" *ngIf="esEdicion && imagenesActuales.length">
      <div class="img-card" *ngFor="let img of imagenesActuales">
        <img
          [src]="'http://localhost:3000/imagenes/' + img"
          alt="img existente"
        />
        <button
          type="button"
          class="btn-eliminar"
          (click)="eliminarImagenActual(img)"
        >
          ❌
        </button>
      </div>
    </div>

    <!-- Nuevas imágenes seleccionadas -->
    <input type="file" multiple (change)="selectFiles($event)" #fileUpload />
    <div class="preview-imagenes" *ngIf="previews.length">
      <div class="img-card" *ngFor="let img of previews">
        <img [src]="img" alt="preview nueva" />
      </div>
    </div>

    <!-- Categoría -->
    <label>Categoría</label>
    <select formControlName="categoria_id">
      <option *ngFor="let cat of categorias" [value]="cat.id">
        {{ cat.nombre }}
      </option>
    </select>

    <!-- Etiquetas -->
    <label>Etiquetas</label>
    <div class="checkbox-group">
      <label *ngFor="let etiqueta of etiquetas">
        <input
          type="checkbox"
          [value]="etiqueta.id"
          (change)="toggleEtiqueta(etiqueta.id, $event)"
          [checked]="etiquetasSeleccionadas.includes(etiqueta.id)"
        />
        {{ etiqueta.nombre }}
      </label>
    </div>

    <label>Stock disponible</label>
    <input type="number" formControlName="stock" />

    <label>¿Producto activo?</label>
    <input type="checkbox" formControlName="activo" />

    <!-- Promedio (solo lectura) -->
    <label>Promedio de Valoraciones</label>
    <div class="valoracion-display">
      <ng-container *ngFor="let estrella of [1,2,3,4,5]">
        <span
          class="estrella"
          [ngClass]="{ activa: estrella <= promedioValoracion }"
          >★</span
        >
      </ng-container>
      <span class="valor-num">({{ promedioValoracion.toFixed(1) }})</span>
    </div>

    <!-- Botón de acción -->
    <button type="submit">{{ esEdicion ? 'Actualizar' : 'Crear' }}</button>
  </form>
</div>
