<button class="back-button" (click)="goback()">
  ← {{"ETIQUETA_TEXT.VOLVER" |translate}}
</button>
<form
  *ngIf="formEtiqueta"
  [formGroup]="formEtiqueta"
  (ngSubmit)="submitEtiqueta()"
  class="admin-form"
  novalidate
>
  <h2>
    {{ isCreate ? ('ETIQUETA_TEXT.CREAR_ETIQUETA' | translate) :
    ('ETIQUETA_TEXT.ACTUALIZAR_ETIQUETA' | translate) }}
  </h2>

  <!-- Nombre -->
  <div class="form-row">
    <div>
      <label for="nombre"
        >{{"ETIQUETA_TEXT.NOMBRE_ETIQUETA" |translate}}:</label
      >
      <input type="text" id="nombre" formControlName="nombre" />
      <div
        *ngIf="formEtiqueta.get('nombre')?.touched && formEtiqueta.get('nombre')?.invalid"
        class="error"
      >
        {{"ETIQUETA_TEXT.CAMPO_REQUERIDO" |translate}}
      </div>
    </div>
  </div>

  <!-- Productos -->
  <div class="form-row">
    <div>
      <label>{{"ETIQUETA_TEXT.SELECCIONAR_PRODUCTO" |translate}}:</label>
      <div *ngFor="let producto of productosDisponibles" class="checkbox-item">
        <input
          type="checkbox"
          [checked]="productosSeleccionados.includes(producto.id)"
          (change)="toggleProducto(producto.id)"
        />
        {{ producto.nombre }}
      </div>
    </div>
  </div>

  <!-- Validación -->
  <div
    *ngIf="formEtiqueta.errors?.['requiereUnProducto'] && formEtiqueta.touched"
    class="error"
  >
   {{"ETIQUETA_TEXT.DEBE_SELECCIONAR_PRODUCTO" |translate}}
  </div>

  <!-- Botón -->
  <div class="form-row">
    <button type="submit">
      {{ isCreate ? ('ETIQUETA_TEXT.CREAR_ETIQUETA' | translate) :
      ('ETIQUETA_TEXT.ACTUALIZAR_ETIQUETA' | translate) }}
    </button>
  </div>
</form>
