
<button class="back-button" (click)="goback()">← {{ 'PEDIDO_TEXT.VOLVER' | translate }}</button>

<div class="factura-contenedor" *ngIf="pedido">
  <h2 class="factura-titulo">{{ 'PEDIDO_TEXT.DETALLE_PEDIDO' | translate }} #{{ pedido.id }}</h2>

  <div class="factura-datos">
    <div><strong>{{ 'PEDIDO_TEXT.CLIENTE' | translate }}:</strong> {{ pedido.usuario.nombre_usuario }}</div>
    <div><strong>{{ 'PEDIDO_TEXT.FECHA' | translate }}:</strong> {{ pedido.fecha_pedido | date: 'longDate' }}</div>
    <div><strong>{{ 'PEDIDO_TEXT.DIRECCION_ENVIO' | translate }}:</strong> {{ pedido.direccion_envio }}</div>
    <div><strong>{{ 'PEDIDO_TEXT.METODO_PAGO' | translate }}:</strong> {{ pedido.metodoPago }}</div>
    <div><strong>{{ 'PEDIDO_TEXT.ESTADO' | translate }}:</strong> {{ pedido.estado }}</div>
  </div>

  <table class="factura-tabla">
    <thead>
      <tr>
        <th>{{ 'PEDIDO_TEXT.PRODUCTO' | translate }}</th>
        <th>{{ 'PEDIDO_TEXT.TIPO' | translate }}</th>
        <th>{{ 'PEDIDO_TEXT.DETALLES' | translate }}</th>
        <th>{{ 'PEDIDO_TEXT.CANTIDAD' | translate }}</th>
        <th>{{ 'PEDIDO_TEXT.PRECIO_UNITARIO' | translate }}</th>
        <th>{{ 'PEDIDO_TEXT.SUBTOTAL' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of pedido.productos">
        <td>{{ prod.nombre }}</td>
        <td>
          {{prod.tipo}}
        </td>
        <td>
          <div *ngIf="prod.tipo === 'Producto personalizado'">
            <div *ngFor="let c of prod.criterios">
              <em>{{ c.criterio }}:</em> {{ c.seleccion }} (₡{{ c.precio_extra }})
            </div>
          </div>
          <div *ngIf="prod.tipo === 'Producto estándar'">-</div>
        </td>
        <td>{{ prod.cantidad }}</td>
        <td>
          ₡
          {{
            prod.tipo === 'Producto personalizado'
              ? prod.precio_base
              : prod.precio_unitario
          | number: '1.2-2' }}
        </td>
        <td>₡{{ prod.subtotal | number: '1.2-2' }}</td>
      </tr>
    </tbody>
  </table>

  <div class="factura-totales">
    <div><strong>{{ 'PEDIDO_TEXT.SUBTOTAL' | translate }}:</strong> ₡{{ pedido.subtotal | number: '1.2-2' }}</div>
    <div><strong>{{ 'PEDIDO_TEXT.IMPUESTOS' | translate }}:</strong> ₡{{ pedido.impuestos | number: '1.2-2' }}</div>
    <div class="total-final"><strong>{{ 'PEDIDO_TEXT.TOTAL' | translate }}:</strong> ₡{{ pedido.total | number: '1.2-2' }}</div>
