<!-- HEADER SUPERIOR FIJO EN NEGRO -->
<mat-toolbar class="top-header">
  <span>Joyería Brillos Eternos</span>
</mat-toolbar>

<!-- MENÚ PRINCIPAL TRANSPARENTE -->
<mat-toolbar class="main-menu" color="transparent">
  <!-- LOGO GRANDE -->
  <div class="main-logo"></div>

  <!-- BOTÓN DE MENÚ PARA MÓVIL -->
  <button mat-icon-button class="mobile-menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- ENLACES DE NAVEGACIÓN -->
  <nav class="nav-links" [class.open]="menuOpen">
    <a routerLink="/">{{ 'MENU_TEXT.HOME' | translate }}</a>
    <a class="more-link" [matMenuTriggerFor]="moreMenu">
      {{ 'MENU_TEXT.TIENDA' | translate }}
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </a>
    <a class="more-link" [matMenuTriggerFor]="moreMenuMant">
      {{ 'MENU_TEXT.MANTENIMIENTOS' | translate }}
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </a>
    <a routerLink="/acercade">{{ 'MENU_TEXT.ACERCA_DE' | translate }}</a>
    <!-- <a routerLink="/contacto">Contacto</a> -->

    <mat-menu #moreMenu="matMenu" panelClass="white-menu-panel">
      <button mat-menu-item routerLink="/productos">
        <span>{{ 'MENU_TEXT.PRODUCTOS' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="/resena">
        <span>{{ 'MENU_TEXT.RESENAS' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="/pedidos">
        <span>{{ 'MENU_TEXT.PEDIDOS' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="/promocion">
        <span>{{ 'MENU_TEXT.PROMOCIONES' | translate }}</span>
      </button>
    </mat-menu>

    <mat-menu #moreMenuMant="matMenu" panelClass="white-menu-panel">
      <button mat-menu-item routerLink="/producto-admin">
        <span>{{ 'MENU_TEXT.PRODUCTOS' | translate }}</span>
      </button>
      <!-- <button mat-menu-item routerLink="/resena">
        <span>Reseñas</span>
      </button>
      <button mat-menu-item routerLink="/pedidos">
        <span>Pedidos</span>
      </button> -->
      <button mat-menu-item routerLink="/promocion-admin">
        <span>{{ 'MENU_TEXT.PROMOCIONES' | translate }}</span>
      </button>
      <!-- agrega más <button mat-menu-item> según necesites -->
    </mat-menu>
  </nav>

  <!-- ICONOS DE USUARIO -->
  <div class="user-actions">
    <button
      mat-icon-button
      matTooltip="Carrito"
      [matBadge]="qtyItems().toString()"
      matBadgeSize="medium"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
    @if (isAuth) {
    <span class="user-email">{{user}}</span>
    } @else {
    <span class="user-email">Email</span>
    }
    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      @if (!isAuth) {
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      } @else {
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
