
<div class="contenedor-productos">
  <div class="tarjeta-producto" *ngFor="let producto of datos">
    <div class="imagen-container">
      <img
        class="imagen-base"
        [src]="'images/' + producto.imagenes[0]?.url"
        alt="{{ producto.nombre }}"
      />
      <img
        class="imagen-hover"
        [src]="'images/' + (producto.imagenes[1]?.url || producto.imagenes[0]?.url)"
        alt="{{ producto.nombre }}"
      />
    </div>

    <div class="contenido">
      <h3>{{ producto.nombre }}</h3>
      <p class="precio">
        <span *ngIf="producto.tienePromocion" class="precio-anterior">
          {{ producto.precio_base | currency: '₡':'symbol':'1.0-0' }}
        </span>
        <span [ngClass]="{'precio-descuento': producto.tienePromocion}">
          {{ producto.precioFinal | currency: '₡':'symbol':'1.0-0' }}
        </span>
      </p>
      <p class="categoria">{{ producto.categoria.nombre }}</p>
      <a [routerLink]="['/producto', producto.id]" class="enlace-detalle">
        Ver detalles
      </a>
    </div>
  </div>
</div>
