<div class="contenedor-productos">
  <div class="tarjeta-producto" *ngFor="let producto of datos">
    <div class="imagen-container">
      <img
        class="imagen-base"
        [src]="'http://localhost:3000/imagenes/' + producto.imagenes[0]?.url"
        alt="{{ producto.nombre }}"
      />
      <img
        class="imagen-hover"
        [src]="'http://localhost:3000/imagenes/' + (producto.imagenes[1]?.url || producto.imagenes[0]?.url)"
        alt="{{ producto.nombre }}"
      />
    </div>

    <div class="contenido">
      <h3>{{ producto.nombre }}</h3>
      <p class="precio">
        <span *ngIf="producto.tienePromocion" class="precio-anterior">
          ₡{{ producto.precio_base }}
        </span>
        <span [ngClass]="{'precio-descuento': producto.tienePromocion}">
          ₡{{ producto.precioFinal }}
        </span>
      </p>
      <p class="categoria">{{ producto.categoria.nombre }}</p>
      <a [routerLink]="['/producto', producto.id]" class="enlace-detalle">
        {{ 'PRODUCTO_TEXT.VER_DETALLES' | translate }}
      </a>
    </div>
    <button
      class="boton-carrito-inferior"
      mat-icon-button
      color="accent"
      (click)="agregarAlCarrito(producto)"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
