<button class="btn-volver" (click)="goBack()">← {{ 'PRODUCTO_TEXT.VOLVER_AL_LISTADO' | translate }}</button>

<div class="detalle-container" *ngIf="datos">
  <div class="detalle-header">
    <div class="imagen-principal">
      <img [src]="'http://localhost:3000/imagenes/' + imagenActiva" alt="Imagen de producto" />
    </div>

    <div class="informacion">
      <h2>{{ datos.nombre }}</h2>
      <p>{{ datos.descripcion }}</p>
      <p class="categoria">{{ 'PRODUCTO_TEXT.CATEGORIA' | translate }}: {{ datos.categoria.nombre }}</p>

      <div class="etiquetas">
        <span *ngFor="let e of datos.etiquetas" class="etiqueta">
          {{ e.etiqueta.nombre }}
        </span>
      </div>

      <div class="precio-valoracion">
        <p class="precio">
          <span *ngIf="tipoDescuento" class="precio-anterior">
            {{ precioAnterior | currency:'₡':'symbol':'1.0-0' }}
          </span>
          <span [ngClass]="{'precio-descuento': tipoDescuento}">
            {{ precioFinal | currency:'₡':'symbol':'1.0-0' }}
          </span>
        </p>

        <p class="valoracion">
          <ng-container *ngFor="let estrella of estrellas">
            <span
              class="estrella"
              [ngClass]="{ activa: estrella <= promedioValoracion }"
              >★</span
            >
          </ng-container>
          <span class="valor-numerico"
            >({{ promedioValoracion.toFixed(1) }})</span
          >
        </p>
      </div>
    </div>
  </div>

  <div class="miniaturas">
    <img
      *ngFor="let img of datos.imagenes; let i = index"
      [src]="'http://localhost:3000/imagenes/' + img.url"
      (click)="cambiarImagen(img.url)"
      [class.seleccionada]="img.url === imagenActiva"
    />
  </div>

  <div class="resenas">
    <h3>{{ 'PRODUCTO_TEXT.RESENAS' | translate }}</h3>

    <div class="resena" *ngFor="let r of datos.resenas;">

      <div class="resena-info">
        <strong>{{ r.usuario.nombre_usuario }}</strong>
        <span class="fecha">{{ r.fecha | date: 'longDate' }}</span>
      </div>
      <p class="comentario">“{{ r.comentario }}”</p>
      <div class="estrellas">
        <span
          *ngFor="let i of [1,2,3,4,5]"
          class="estrella"
          [ngClass]="{ activa: i <= r.valoracion }"
          >★</span
        >
      </div>
    </div>
  </div>

  <button class="btn-resena" (click)="mostrarFormularioResena = !mostrarFormularioResena">
    {{ mostrarFormularioResena ? ('PRODUCTO_TEXT.OCULTAR_RESEÑA' | translate) : ('PRODUCTO_TEXT.AGREGAR_RESEÑA' | translate) }}
  </button>

  <app-resena-form
    *ngIf="mostrarFormularioResena"
    [productoId]="datos.id"
    [usuarioId]="usuarioAutenticado.id"
    (resenaGuardada)="resenaRegistrada($event)"
  >
  </app-resena-form>
</div>
