<div class="customization-list">
  <h2>{{'PERSONALIZACION_TEXT.ATRIBUTOS_PERSONALIZACION' | translate}}</h2>

  @for (grupo of agrupadasPorAtributo; track grupo.nombre) {
    <div class="attribute-group">
      <h3>{{ grupo.nombre }}</h3>

      @for (opcion of grupo.opciones; track opcion.id) {
        <div class="attribute-row">
          <div class="attribute-image">
            <img [src]="'http://localhost:3000/imagenes/' + opcion.imagen" alt="{{ opcion.valor }}" />
          </div>

          <div class="attribute-value">
            <strong>{{ opcion.valor }}</strong>
          </div>

          <div class="attribute-price">
            <label for="precio-{{ opcion.id }}">{{'PERSONALIZACION_TEXT.PRECIO_EXTRA'| translate}}:  </label>
            <input
              id="precio-{{ opcion.id }}"
              type="number"
              [(ngModel)]="opcion.precio_extra"
              class="price-input"
              min="0"
            />
          </div>

          <div class="attribute-action">
            <button (click)="update(opcion)" class="update-button">
              {{'PERSONALIZACION_TEXT.UPDATE'| translate}}
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>
