<div class="page-wrapper">
  <div class="pass-container" *ngIf="passForm">
    <h2>{{ 'USER_TEXT.TITULO_RESTABLECER' | translate }}</h2>

    <form [formGroup]="passForm" (ngSubmit)="guardar()">
      <div class="form-group">
        <label>{{ 'USER_TEXT.CONTRASENA_ACTUAL' | translate }}</label>
        <input type="password" formControlName="actual" class="input-field" />
        <div class="error" *ngIf="errorActualIncorrecta">
          La contraseña actual es incorrecta
        </div>
      </div>

      <div class="form-group">
        <label>{{ 'USER_TEXT.NUEVA_CONTRASENA' | translate }}</label>
        <input type="password" formControlName="nueva" class="input-field" />
      </div>

      <div class="form-group">
        <label>{{ 'USER_TEXT.CONFIRMAR_CONTRASENA' | translate }}</label>
        <input type="password" formControlName="confirmar" class="input-field" />
        <div class="error" *ngIf="passForm.errors?.['noCoincide']">
          Las contraseñas no coinciden
        </div>
      </div>

      <button type="submit" [disabled]="passForm.invalid || passForm.errors?.['noCoincide']" class="btn-guardar">
        {{ 'USER_TEXT.GUARDAR_CAMBIOS' | translate }}
      </button>
    </form>
  </div>
</div>
