<div class="resenas-container">
  <h2>{{ 'RESENAS_TEXT.RESENAS_LISTADO' | translate }}</h2>

  <div class="resenas-grid">
    <div *ngFor="let resena of datos" class="resena-card">
      <div class="resena-header">
        <strong>{{ resena.usuario.nombre_usuario }}</strong>
        <span class="fecha">{{ resena.fecha | date: 'mediumDate' }}</span>
      </div>

      <p class="comentario">"{{ resena.comentario }}"</p>
      <img
        *ngIf="resena.producto?.imagenes?.length"
        class="resena-img"
        [src]="'http://localhost:3000/imagenes/' + resena.producto.imagenes[0].url"
        [alt]="resena.producto.nombre || 'Imagen del producto'"
      />
      <div class="resena-footer">
        <span class="valoracion">{{ resena.valoracion }}/5</span>
        <a (click)="detalle(resena.id)" class="detalle-link">{{ 'RESENAS_TEXT.VER_DETALLES' | translate }}</a>
      </div>
    </div>
  </div>
</div>
